<%- include ../layouts/header %>

<h1>Login</h1>
	<form id="loginInForm" name="logF">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		<button type="reset" class="btn btn-default">Reset</button>
	</form>

<%- include ../layouts/footer %>